@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.flex{
    display: flex;
}
li{
    list-style: none;
}
.margin{
    margin: 0px auto;
    max-width: 1440px;
}
.nav-bar{
    justify-content: space-between;
    padding: 20px 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-ul{
    gap: 32px;
    padding: 16px 0px;
}
.nav-title{
    align-items: center;
}
.nav-header{
    color: rgb(17, 17, 17);
    font-family: "Quicksand";
    font-size: 2rem;
    font-weight: 700;
    margin: 0px;
    padding: 17px 0px 15px 11px;
}
.Home{
    color: rgb(254, 163, 1);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 700;
}
.About{
    color: rgb(1, 172, 253);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 500;
}
.Facilities{
    color: rgb(5, 212, 223);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 500;
}
.Admission{
    color: rgb(93, 88, 239);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-btn{
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 44px;
}
.mob-btn{
    display: none;
}
.banner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.banner-parent{
    width: 550px;
    margin-top: 100px;
}
.empowering{
    color: rgb(254, 163, 1);
}
.towards{
    color: rgb(1, 172, 253);
}
.banner-img img{
    width: 100%;
}
.banner-title{
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-description{
    color: rgb(17, 17, 17);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 400;
}
.banner-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 44px;
}
.standard-curriculum{
    background-image: url(../assets/bg.png);
    text-align: center;
}
.standard-title{
    color: rgb(0, 0, 0);
    font-family: "Quicksand";
    font-size: 2.875rem;
    font-weight: 700;
    margin-top: 60px;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 80px;
}
.card{
    text-align: center;
    align-content: center;
    padding: 59px 41px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    width: 367px;
}
.card-header{
    color: rgb(32, 32, 32);
    font-family: "Quicksand";
    font-size: 1.5rem;
    font-weight: 700;
}
.card-description{
    color: rgb(128, 128, 128);
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 500;
}
#card1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#card2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#card3{
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card1-btn{
    color: rgb(100, 200, 255);
    font-family: "Quicksand";
    font-size: 0.94rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    margin-top: 39px;
}
.card2-btn{
    color: rgb(240, 170, 0);
    font-family: "Quicksand";
    font-size: 0.94rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    margin-top: 39px;
}
.card3-btn{
    color: rgb(135, 0, 255);
    font-family: "Quicksand";
    font-size: 0.94rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    margin-top: 39px;
}
.arrow-btn{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-family: Font Awesome 5 Free;
    font-size: 1.5rem;
    font-weight: 900;
    border: none;
    margin-top: 97px;
}
.stories-section{
    background-image: url(../assets/bg.png) ,linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 60px 0px;
}
.section-title{
    color: rgb(0, 0, 0);
    font-family: "Quicksand";
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
}
.stories-section .stories{
    display: flex;
    justify-content: space-evenly;
}
.small-stories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    overflow: hidden;
    margin-left: 12px;
}
.small-story{
    background: rgb(255, 255, 255);
    width: 291px;
    border-radius: 16px;
}
.large-story{
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 540px;
    border-radius: 16px;
}
.story-img1 img{
    object-fit: cover;
}
.story-img2{
    border-radius: 16px 16px 0px 0px;
}
.story-img2 img{
    object-fit: cover;
}
.large-story .date-blue{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 0.95rem;
    font-weight: 500;
    position: relative;
    padding: 14px;
    top: -10px;
    left: 38px;
}
.small-story .date-green{
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 0.95rem;
    font-weight: 500;
    position: relative;
    padding: 14px;
    top: -10px;
    left: 38px;
}
.small-story .date-purple{
    border-radius: 47.93px;
    background: rgb(93, 88, 240);
    color: rgb(255, 255, 255);
    font-family: "Raleway";
    font-size: 0.95rem;
    font-weight: 500;
    position: relative;
    padding: 14px;
    top: -10px;
    left: 38px;
}
.large-story .story-head{
    color: rgb(0, 0, 0);
    font-family: "Quicksand";
    font-size: 1.5rem;
    font-weight: 700;
}
.story-head{
    color: rgb(0, 0, 0);
    font-family: "Quicksand";
    font-size: 0.95rem;
    font-weight: 700;
    margin: 24px 54px 33px 37px;
}
.story-description{
    color: rgb(102, 102, 102);
    font-family: "Raleway";
    font-size: 0.95rem;
    font-weight: 500;
    margin: 51px 68px 34px 38px;
}
.story-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: "Quicksand";
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 64px 10px 64px;
    display: flex;
    justify-self: center;
}
@media screen and (max-width: 576px){
    .nav-ul, .nav-btn,.nav-header{
        display: none;
    }
    .nav-title{
        margin-left: 0px;
    }
    .nav-bar{
        border: 0.5px solid rgb(254, 163, 1);
        padding: 12px 16px;
        padding-right: 0px;
        margin: -8px;
    }
    .mob-btn{
        display: block;
        align-items:center;
        justify-content: center;
        background:none;
        border: none;
        font-size: 24px;
        color: rgb(17, 17, 17);
        cursor: pointer;
        margin-right: 0px;
        padding: 0px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-parent{
        width: 100%;
        text-align: center;
    }
    .card-container{
        display: block;
    }
    .card{
        margin: 12px;
    }
    .arrow-btn{
        display: none;
    }
    .large-story{
        display: none;
    }
    .small-story{
        width: 95%;
    }
    .small-story img{
        width: 100%;
    }
    .small-story .date-green{
        position: relative;
        left: 20px;
        font-size: 10px;
        padding: 10px;
    }
    .small-story .date-purple{
        position: relative;
        left: 20px;
        font-size: 10px;
        padding: 10px;
    }
}